.App {
  background-color: #d4e2ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display:flex 0.6;
  flex-direction: column;
  align-items: left;
  padding-top: calc(20% - 100px);
  padding-left: calc(50% - 100px);
  padding-bottom: 5rem;
  font-size: 3rem;
  color: rgb(255, 174, 0);
}

.App-h1{
  text-align: center;
  font-size: 2rem;
  color:darkblue;
}
.App-h1:hover{
  transition: 2s;
  color: antiquewhite;
}
.App-ul:nth-child(3){
  display: flex 0.6;
  margin-left: 50rem;
  margin-top: 1rem;
  padding-bottom: 7rem;
  text-align: left;
  font-size: 2rem;
  color:black;
}

.App-ul:nth-child(5){
  margin-left: 50rem;
  margin-top: 1rem;
  padding-bottom: 20rem;
  text-align: left;
  font-size: 2rem;
  color:black;
}

.App-fixed:first-child{
  width: 20%;
  height: calc(50% - 100px);
  position: fixed;
  margin-top: 10%;
  margin-left: 10%;
  background-image: linear-gradient(30deg, white, black);
  display: flex 0.4;
  flex-direction: column;
}
@media screen and(min-width: 720px){
  .App-fixed:first-child{
    flex: 1;
    flex-direction: column;
  }
  .App-header{
    flex: 1;
    flex-direction: column;
  }
}